<template>
  <div class="m-5">
    <div class="my-3" v-if="!authIsLoading">
      <div v-if="!isAuthenticated">
        <button class="border border-gray-300 rounded bg-gray-50 p-1" @click="login">Log in</button>
      </div>
      <div class="my-3" v-if="isAuthenticated">
        <div class="flex flex-row items-center">
          <img class="w-16 h-16 rounded-full mr-3" :src="user.picture" />
          <div class="mr-3">Hello {{ user.name }}</div>
          <button class="border border-gray-300 rounded bg-gray-50 p-1" @click="logout">Log out</button>
          <button class="border border-gray-300 rounded bg-gray-50 p-1 ml-5" @click="$router.push({ path: '/portal' })">
            View Portal
          </button>
        </div>
      </div>
    </div>
    <div>This is a landing page with information for unauthenticated/anonymous people!</div>
  </div>
</template>

<script>
import { inject } from "vue";

export default {
  name: "landing",
  inject: ["Auth"],
  components: {},
  methods: {
    login() {
      this.Auth.loginWithRedirect({ connection: "google-oauth2" });
    },
    logout() {
      this.Auth.logout();
    },
  },
  setup() {
    const auth = inject("Auth");
    return {
      isAuthenticated: auth.isAuthenticated,
      authIsLoading: auth.loading,
      user: auth.user,
    };
  },
};
</script>

<style lang="scss" scoped></style>
