<template>
  <top-nav-bar />
  <div class="layout-page expanded-sidebar" :class="{ loading: isLoading }">
    <aside class="nav-sidebar bg-gray-200">
      <div class="sidebar-inner-scroll">
        <Sidebar
          @replace-filter="onReplaceFilter"
          @export-to-pdf="onExportToPdf"
          @export-to-csv="onExportToCsv"
          @export-to-crosstab="onExportToCrosstab"
        />
      </div>
    </aside>
    <div class="content-wrapper">
      <TableauViz @viz-ready="vizReady" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TopNavBar from "@/components/TopNavBar.vue";
import Sidebar from "@/components/Sidebar.vue";
import TableauViz from "@/components/TableauViz.vue";
import VizWrapper from "@/util/vizWrapper";

export default defineComponent({
  name: "Portal",
  components: { Sidebar, TopNavBar, TableauViz },
  data() {
    return {
      viz: undefined as VizWrapper | undefined,
      isLoading: false,
    };
  },
  methods: {
    async vizReady(viz: VizWrapper) {
      this.viz = viz;
    },
    async onReplaceFilter(filterId: String, optionIds: String[]) {
      if (this.viz === undefined) return;

      this.isLoading = true;
      await this.viz.replaceFilter(filterId, optionIds);
      this.isLoading = false;
    },
    onExportToPdf() {
      if (this.viz === undefined) return;
      this.viz.exportToPdf();
    },
    onExportToCsv() {
      if (this.viz === undefined) return;
      this.viz.exportToCsv();
    },
    onExportToCrosstab() {
      if (this.viz === undefined) return;
      this.viz.exportToCrosstab();
    },
  },
});
</script>

<style scoped lang="scss">
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.layout-page {
  padding-left: $sidebar-width;
}

.content-wrapper {
  margin-top: $nav-height;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  padding-bottom: 100px;
  padding-top: 30px;
  width: 100%;
}
</style>
