<template>
  <li :class="{ expanded: isExpanded }">
    <div class="sidebar-item-container" @click="isExpanded = !isExpanded">
      <span class="item-icon"><font-awesome-icon :icon="['fas', item.icon]"/></span>
      <span class="item-title">{{ item.name }}</span>
      <span class="item-expand-icon" v-if="item.options.length">
        <font-awesome-icon :icon="['fas', 'chevron-right']" />
      </span>
    </div>
    <div class="px-3" v-show="isExpanded">
      <ul class="sidebar-options" :class="{ multi: item.subType === 'multi' }">
        <li v-if="item.helpText" class="option-header">
          {{ item.helpText }}
        </li>

        <!-- --------------- MULTI SELECT ITEM -------------- -->
        <template v-if="item.subType === 'multi'">
          <li
            v-for="option in item.options"
            :key="option.id"
            :class="{ selected: selected.includes(option.id) }"
            @click="toggleOption(option)"
          >
            <span class="icon-selected">
              <font-awesome-icon :icon="['fas', 'check']" />
            </span>
            <span>{{ option.text }}</span>
          </li>
        </template>

        <!-- --------------- SINGLE SELECT ITEM -------------- -->
        <template v-else>
          <li v-for="option in item.options" :key="option.id" @click="$emit('replaceFilter', item.id, [option.id])">
            {{ option.text }}
          </li>
        </template>

        <li v-show="item.subType === 'multi'">
          <button @click="$emit('replaceFilter', item.id, selected)">Apply!</button>
        </li>
      </ul>
    </div>
  </li>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { FilterConfig, FilterOptionConfig } from "@/util/vizWrapper";

export default defineComponent({
  name: "SidebarItem",
  components: {},
  props: {
    item: { type: Object as PropType<FilterConfig>, require: true },
  },
  data() {
    return {
      isExpanded: false,
      selected: [] as String[],
    };
  },
  methods: {
    toggleOption(o: FilterOptionConfig) {
      if (this.selected.includes(o.id)) this.selected.splice(this.selected.indexOf(o.id), 1);
      else this.selected.push(o.id);
    },
  },
  mounted() {
    if (this.item?.subType === "multi") {
      this.selected = this.item.options.map(o => o.id);
    }
  },
});
</script>

<style lang="scss">
$textColor: #292524;
$iconColor: #78716c;
$hoverColor: #164e63;
// Multi-select
$selectedIconColor: #164e63;
$hoverIconColor: #78716c;

.sidebar-items > li {
  &.expanded {
    .item-expand-icon {
      rotate: 90deg;
    }
  }

  .item-expand-icon {
    color: $iconColor;
    transition: rotate 0.25s;
  }

  .sidebar-options {
    background: white;
    border-radius: 6px;
    margin: 10px 0 30px 0;
    padding: 10px 15px;

    > li {
      border-radius: 6px;
      font-size: 0.9rem;
      padding: 0.5rem;

      &.option-header {
        color: $iconColor;
        cursor: default;
        font-size: 0.75rem;
      }

      &:hover:not(.option-header) {
        background: #f5f5f5;
        color: $hoverColor;
      }

      &.selected {
        background: #fafafa;
        color: $hoverColor;
      }
    }

    &.multi {
      padding: 0;

      > li:not(.option-header) {
        border-radius: 0;
        border-top: 1px solid #e7e5e4;
        display: flex;
        padding: 0.75rem 0.5rem;

        &:not(.selected) {
          .icon-selected {
            visibility: hidden;
          }
        }

        .icon-selected {
          color: $selectedIconColor;
          opacity: 0.5;
          padding-right: 1rem;
          width: 25px;
        }
      }
    }
  }
}
</style>
