<template>
  <div class="sidebar-section">
    <ul class="sidebar-items">
      <SidebarItemCategorical
        v-for="item in sidebarItems"
        :key="item.id"
        :item="item"
        @replace-filter="onReplaceFilter"
      />
    </ul>
  </div>
  <div class="sidebar-section">
    <ul class="sidebar-items">
      <li :class="{ expanded: exportIsExpanded }">
        <div class="sidebar-item-container" @click="exportIsExpanded = !exportIsExpanded">
          <span class="item-icon"><font-awesome-icon :icon="['fas', 'file-download']"/></span>
          <span class="item-title">Export</span>
          <span class="item-expand-icon">
            <font-awesome-icon :icon="['fas', 'chevron-right']" />
          </span>
        </div>
        <div class="px-3" v-show="exportIsExpanded">
          <ul class="sidebar-sub-items">
            <!-- <li v-for="option in item.options" :key="option.id" @click="$emit('replaceFilter', item.id, option.id)">
              {{ option.text }}
            </li> -->
            <li @click="$emit('exportToPdf')">
              Export to PDF
            </li>
            <li @click="$emit('exportToCsv')">Export to CSV</li>
            <li @click="$emit('exportToCrosstab')">Export to Crosstab</li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" class="sidebar-item-container">
          <span class="item-icon"><font-awesome-icon :icon="['fas', 'question-circle']"/></span>
          <span class="item-title">Want to know more?</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SidebarItemCategorical from "@/components/SidebarItemCategorical.vue";
import { FilterConfig } from "@/util/vizWrapper";
import { filters } from "@/data/tableauConfig.json";

export default defineComponent({
  name: "Sidebar",
  components: { SidebarItemCategorical },
  data() {
    return {
      sidebarItems: filters as FilterConfig[],
      exportIsExpanded: false,
    };
  },
  methods: {
    onReplaceFilter(filterId: String, optionIds: String[]) {
      this.$emit("replaceFilter", filterId, optionIds);
    },
  },
});
</script>

<style lang="scss">
$nav-height: 60px;
$sidebar-width: 250px;

.nav-sidebar {
  bottom: 0;
  left: 0;
  position: fixed;
  top: $nav-height;
  transform: translate3d(0, 0, 0);
  transition: width 0.3s, left 0.3s;
  width: $sidebar-width;
  z-index: 600;

  li > a {
    padding: 0.5rem 0;
  }
}

.sidebar-inner-scroll {
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  padding: 15px 0;
  width: 100%;
}

.sidebar-section {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;

  &:last-child {
    border: none;
  }

  .sidebar-items {
    $textColor: #292524;
    $iconColor: #78716c;
    $hoverColor: #164e63;

    > li {
      align-content: center;
      line-height: 1rem;
      cursor: pointer;

      .sidebar-item-container {
        color: $textColor;
        display: flex;
        padding: 0.75rem;

        &:hover {
          &,
          > .item-icon,
          .item-expand-icon {
            color: $hoverColor;
          }
        }

        > .item-icon {
          color: $iconColor;
          display: flex;
          margin-right: 6px;
          width: 18px;
        }

        > .item-title {
          display: flex;
          flex: 1;
        }
      }
    }
  }
}
</style>
