<template>
  <div ref="tableauVizDiv"></div>
</template>

<script>
import VizWrapper from "@/util/vizWrapper.ts";
import { vizUrl } from "@/data/tableauConfig.json";

export default {
  name: "TableauViz",
  components: {},
  data() {
    return {
      viz: null,
    };
  },
  methods: {
    async onFirstInteractive() {
      this.$emit("vizReady", new VizWrapper(this.viz, window.tableau));
    },
  },
  mounted() {
    this.viz = new window.tableau.Viz(this.$refs.tableauVizDiv, vizUrl, {
      hideTabs: true,
      hideToolbar: true,
      onFirstInteractive: this.onFirstInteractive,
    });
  },
};
</script>

<style scoped lang="scss"></style>
