<template>
  <header id="navbar-data-drive" class="bg-cyan-900 flex flex-row items-center px-4 justify-between text-gray-50">
    <div class="flex">
      <a href="https://godatadrive.com" target="_blank" class="mr-20"
        ><img alt="DataDrive logo" src="@/assets/data-drive-logo.png"
      /></a>
      <input type="text" placeholder="Search for..." class="px-2 rounded-l text-black" />
      <button class="bg-teal-700 hover:bg-teal-600 rounded-r px-2">Search</button>
    </div>
    <div v-click-outside="clickOutside">
      <button
        class="flex flex-row items-center rounded-full py-1 px-3 bg-teal-700 hover:bg-teal-600"
        @click="userMenuVisible = !userMenuVisible"
        id="user-button"
      >
        <img class="w-8 h-8 rounded-full mr-2" :src="user.picture" />
        <font-awesome-icon :icon="['fas', 'chevron-down']" class="text-sm" />
      </button>
      <div id="user-menu" v-if="userMenuVisible" class="bg-cyan-900 w-80 rounded">
        <ul>
          <li class="px-5 py-2 hover:bg-cyan-800">
            <div class="font-bold">{{ user.name }}</div>
            <div>{{ user.email }}</div>
          </li>
          <li class="h-px mx-3 my-1 bg-cyan-700"></li>
          <li class="px-5 py-2 hover:bg-cyan-800 cursor-pointer">Settings</li>
          <li class="px-5 py-2 hover:bg-cyan-800 cursor-pointer" @click="logout">Log out</li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
import { inject } from "vue";

export default {
  name: "TopNavBar",
  inject: ["Auth"],
  data() {
    return {
      userMenuVisible: false,
    };
  },
  methods: {
    logout() {
      this.Auth.logout();
    },
    clickOutside() {
      if (this.userMenuVisible) this.userMenuVisible = false;
    },
  },
  setup() {
    const auth = inject("Auth");
    return {
      user: auth.user,
    };
  },
};
</script>

<style scoped lang="scss">
#navbar-data-drive {
  min-height: $nav-height;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
}

#user-menu {
  position: fixed;
  right: 5px;
  top: $nav-height + 5px;
}
</style>
